<div [formGroup]="formGroup">
  <mat-form-field class="form--full-width">
    <mat-label>{{ placeholder }}</mat-label>
    <input
      matInput
      type="password"
      [placeholder]="placeholder"
      [name]="controlName"
      [formControlName]="controlName"
    />
    <mat-error *ngIf="validacao.validarTemErros(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validacao.temErros(formControl, 'pattern')">A senha deve conter: números, letras minúsculas e maiúsculas, caracteres especiais e deve ter entre 10 e 20 dígitos</mat-error>

  </mat-form-field>
</div>
